[Unit]
Description=Generate Hyprland pop window rules
After=tarion-firstboot.service

[Service]
Type=oneshot
ExecStart=/usr/bin/hypr-pop-windows-gen
RemainAfterExit=yes

[Install]
WantedBy=graphical-session-pre.target
