binds {

    Mod+Return { spawn "ghostty"; }
    Mod+Space { spawn "vicinae" "toggle"; }
    Ctrl+Alt+Space { spawn "vicinae" "vicinae://launch/wm/switch-windows"; }
    Super+Shift+c { spawn "vicinae" "vicinae://launch/clipboard/history"; }

}
