binds {

    Mod+Return { spawn "ghostty"; }
    Mod+Space { spawn "vicinae" "toggle"; }
    Ctrl+Alt+Space { spawn "vicinae" "vicinae://extensions/vicinae/wm/switch-windows"; }
    Super+Shift+v { spawn "vicinae" "vicinae://extensions/vicinae/clipboard/history"; }
    Mod+w { spawn-sh "~/.local/bin/work-tracker prompt"; }
    Mod+Shift+w { spawn-sh "~/.local/bin/work-tracker log"; }

}
