name: ShellCheck
on: [push, pull_request]

jobs:
  shellcheck:
    runs-on: ubuntu-latest
    container: fedora:43
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        
      - name: Install dependencies
        run: |
            dnf install -y ShellCheck file
          
      - name: Run ShellCheck
        run: |
          ./scripts/lint-shell.sh